.login-wrapper {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-container{
    width: 300px;
    background-color: #e0e0e0; /* Updated to a softer, neutral gray */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container p, .login-container a {
    font-size: 12px;
}

.login-container h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Slightly darker for contrast */
}

.form-group input[type="text"],
.forgot-password input[type="email"],
.form-group input[type="password"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff; /* Maintains white for clarity and focus */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Keeps the vibrant green for actions */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #388E3C; /* A deeper green for an interactive effect */
}

.forgot-password-container{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 300px;
    background-color: #e0e0e0;
    padding: 40px;
 }
